<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= page_title %></title>
	<%- include('styles'); %>
</head>
<body>
	<%- include('navbar'); %>
	<%- content %>
	<%- include('scripts'); %>

</body>
</html>