<% extend('../../partials/body') %>

<form method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <input type="text" class="form-control" id="type" name="type" required>
    </div>
    <div class="mb-3">
        <label for="tags" class="form-label">Tags</label>
        <input type="text" class="form-control" id="tags" name="tags" required>
    </div>
    <div class="mb-3">
        <div class="form-check form-switch">
            <input name="align" class="form-check-input" type="checkbox" role="switch" id="is_left">
            <label class="form-check-label" for="is_right">Is right?</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>