<% extend('../../partials/body') %>

<button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#update" aria-expanded="false" aria-controls="update">
    Update
</button>
</p>
<div class="collapse" id="update">
    <div class="card card-body">
        <form action="/home/data?id=<%= data.id %>" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required value="<%= data.title %>">
            </div>
            <div class="mb-3">
                <label for="type" class="form-label">Type</label>
                <input type="text" class="form-control" id="type" name="type" required value="<%= data.type %>">
            </div>
            <div class="mb-3">
                <label for="tags" class="form-label">Tags</label>
                <input type="text" class="form-control" id="tags" name="tags" required value="<%= data.tags %>">
            </div>
            <div class="mb-3">
                <div class="form-check form-switch">
                    <% if (data.align == "right") { %>
                    <input name="align" class="form-check-input" type="checkbox" role="switch" id="is_left" checked>
                    <% } else { %>
                    <input name="align" class="form-check-input" type="checkbox" role="switch" id="is_left">
                    <% } %>
                    <label class="form-check-label" for="is_right">Is right?</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <% if (data.align == "right") { %>
                <textarea class="form-control text-end" id="content" name="content" required><%= data.content.string %></textarea>
                <% } else { %>
                <textarea class="form-control" id="content" name="content" required><%= data.content.string %></textarea>
                <% } %>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-danger" href="/home/delete?id=<%= data.id %>" role="button">Delete</a>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        ID: <span>
            <%= data.id %></span>
        <ul>
            <li>
                Name: <span>
                    <%= data.title %>
                </span>
            </li>
            <li>
                Type: <span>
                    <%= data.type %></span>
            </li>
            <li>
                Tags: <span>
                    <%= data.tags %></span>
            </li>
            <li>
                Align: <span>
                    <%= data.align %></span>
            </li>
        </ul>
    </div>
    <% if (data.align == "right") { %>
    <div class="card-body text-end">
        <% } else { %>
        <div class="card-body">
            <% } %>
            <p class="card-text">
                <%- data.content.markdown %>
            </p>
        </div>
    </div>