<% extend('../../partials/body') %>

<div class="btn-group" role="group" aria-label="Control">
  <a role="button" class="btn btn-secondary" id="btn-refresh">Refresh <i class="bi bi-arrow-clockwise"></i></a>
  <a role="button" href="/home/informations" class="btn btn-primary">Informations <i class="bi bi-info-circle-fill"></i></a>
  <a role="button" href="/home/add" class="btn btn-success">Add <i class="bi bi-plus-circle-fill"></i></a>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Type</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>
  <tbody>
  	<% for (let i = 0; i < list.length; i++) { %>
  		<tr>
  			<th scope="row"><%= i + 1 %></th>
  			<td><a href="/home/data?id=<%= list[i].id %>" class="link-secondary"><%= list[i].title %></a></td>
  			<td><a href="/home/type?type=<%= list[i].type %>" class="link-primary"><%= list[i].type %></a></td>
  			<td>
	  			<% for (let j = 0; j < list[i].tags.length; j++) { %>
            <a href="/home/tag?tag=<%= list[i].tags[j] %>" class="link-primary"><%= list[i].tags[j] %></a>
	  			<% } %>
  			</td>
  		</tr>
  	<% } %>
  </tbody>
</table>